apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: uaipedidos
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:                # ← AQUI
      containers:        # ← containers fica DENTRO do template.spec
        - name: frontend
          image: liviajacklinne/uaipedidos-ui:2.2
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
